{% extends 'x_blog/base.html' %}
{% load static %}
{% block main %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav class="stroke">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'x_blog:index' %}" class="hvr-underline-from-left"><i class="home1"></i>首页</a></li>
                <li><a href="{% url 'x_blog:photos' %}" class="hvr-underline-from-left"><i class="picture1"></i>照片墙</a>
                </li>
                <li class="active"><a href="{% url 'x_blog:blog' %}"><i class="edit"></i>博客</a></li>
                <li><a href="{% url 'x_blog:short_codes' %}" class="hvr-underline-from-left"><i class="text-size1"></i>Short Codes</a></li>
                <li><a href="{% url 'x_blog:mail' %}" class="hvr-underline-from-left"><i class="envelope1"></i>联系 博主</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main2 %}
    <div class="col-xs-9 banner-body-right">
        <div class="gallery-head">
            <h5>博客</h5>
            <p>个人在博客上发表的原创内容除特别注明，可在注明链接（http://.com）前提下随意转载，无需通知本人。</p>
        </div>
        <div class="blog">
            {% for post in post_list %}
                <div class="blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="{{ post.get_absolute_url }}"><img src="/static/{{ post.img }}" alt=" " class="img-responsive"/></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        <p>{{ post.excerpt }}</p>
                        <p align="left">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <td>{{ post.created_time|date:"Y-m-d" }}</td>
                            &ensp;
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ post.views }}
                            &ensp;
                            <a href="javascript:void(0)" onclick = "by1();"/><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> {{ post.like }}
                            <a href="{{ post.get_absolute_url }}" style="margin-left: 142px"> 阅读全文
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                            </a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% empty %}
                暂无文章
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination" style="margin-left: 250px;margin-top: 50px">
                    <li class="disabled">
                      <span href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </span>
                    </li>
                    <li class="active"><span href="#">1</span></li>
                    <li><span href="#">2</span></li>
                    <li><span href="#">3</span></li>
                    <li><span href="#">4</span></li>
                    <li><span href="#">5</span></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="msg-text-bottom">
            <div class="col-md-4 msg-text-bottom-left">
                <figure class="effect-winston">
                    <a href="#"><img src="{% static 'x_blog/images/4.jpg' %}" alt=" " class="img-responsive"/>
                        <figcaption>

                        </figcaption>
                    </a>
                </figure>

                <h3><a href="#">vel illum qui dolorem</a></h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit, sed quia.</p>
            </div>
            <div class="col-md-4 msg-text-bottom-left">
                <figure class="effect-winston">
                    <a href="#"><img src="{% static 'x_blog/images/5.jpg' %}" alt=" " class="img-responsive"/>
                        <figcaption>

                        </figcaption>
                    </a>
                </figure>
                <h3><a href="#">quia dolor sit amet</a></h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit, sed quia.</p>
            </div>
            <div class="col-md-4 msg-text-bottom-left">
                <figure class="effect-winston">
                    <a href="#"><img src="{% static 'x_blog/images/6.jpg' %}" alt=" " class="img-responsive"/>
                        <figcaption>

                        </figcaption>
                    </a>
                </figure>
                <h3><a href="#">porro quisquam est</a></h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit, sed quia.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}