{% extends 'x_blog/base.html' %}
{% load static %}
{% block main %}
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav class="stroke">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'x_blog:index' %}" class="hvr-underline-from-left"><i class="home1"></i>Home</a></li>
                <li class="active"><a href="{% url 'x_blog:photos' %}"><i class="picture"></i>Photos</a></li>
                <li><a href="{% url 'x_blog:blog' %}" class="hvr-underline-from-left"><i class="edit1"></i>Blog</a></li>
                <li><a href="{% url 'x_blog:short_codes' %}" class="hvr-underline-from-left"><i class="text-size1"></i>Short Codes</a></li>
                <li><a href="{% url 'x_blog:mail' %}" class="hvr-underline-from-left"><i class="envelope1"></i>Mail US</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main2 %}
    <div class="col-xs-9 banner-body-right">
    <div class="gallery-head">
        <h5>Photo Gallery</h5>
        <p>But I must explain to you how all this mistaken idea of denouncing  pleasure and praising pain was born.</p>
    </div>
    <div class="gallery-grids">
        <div class="gallery-grid">
            <a href="{% static 'x_blog/images/7.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="{% static 'x_blog/images/7.jpg' %}" alt=" " class="img-responsive" />
            </a>
        </div>
        <div class="gallery-grid">
            <a href="{% static 'x_blog/images/4.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="{% static 'x_blog/images/4.jpg' %}" alt=" " class="img-responsive" />
            </a>
            <a href="{% static 'x_blog/images/6.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="{% static 'x_blog/images/6.jpg' %}" alt=" " class="img-responsive" />
            </a>
        </div>
        <div class="gallery-grid">
            <a href="{% static 'x_blog/images/5.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="{% static 'x_blog/images/5.jpg' %}" alt=" " class="img-responsive" />
            </a>
            <a href="{% static 'x_blog/images/8.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="{% static 'x_blog/images/8.jpg' %}" alt=" " class="img-responsive" />
            </a>
        </div>
        <div class="clearfix"> </div>
    </div>
        <!--script-->
            <script src="{% static 'x_blog/js/jquery.chocolat.js' %}"></script>
                <link rel="stylesheet" href="{% static 'x_blog/css/chocolat.css' %}" type="text/css" media="screen" charset="utf-8">
                <!--light-box-files-->
            <script type="text/javascript" charset="utf-8">
                $(function() {
                    $('.gallery-grid a').Chocolat();
                });
            </script>
        <!--script-->
    <div class="msg-text-bottom">
        <div class="col-md-4 msg-text-bottom-left">
            <figure class="effect-winston">
                <a href="#"><img src="{% static 'x_blog/images/4.jpg' %}" alt=" " class="img-responsive" />
                <figcaption>

                </figcaption>
                </a>
            </figure>

            <h3><a href="#">vel illum qui dolorem</a></h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia.</p>
        </div>
        <div class="col-md-4 msg-text-bottom-left">
            <figure class="effect-winston">
                <a href="#"><img src="{% static 'x_blog/images/5.jpg' %}" alt=" " class="img-responsive" />
                <figcaption>

                </figcaption>
                </a>
            </figure>
            <h3><a href="#">quia dolor sit amet</a></h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia.</p>
        </div>
        <div class="col-md-4 msg-text-bottom-left">
            <figure class="effect-winston">
                <a href="#"><img src="{% static 'x_blog/images/6.jpg' %}" alt=" " class="img-responsive" />
                <figcaption>

                </figcaption>
                </a>
            </figure>
            <h3><a href="#">porro quisquam est</a></h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia.</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

{% endblock %}