{% extends 'base.html' %}
{% load static %}
{% load x_blog_tag %}
{% block main %}
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav class="stroke">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'x_blog:index' %}" class="hvr-underline-from-left"><i class="home1"></i>首页</a></li>
                <li><a href="{% url 'x_blog:photos' %}" class="hvr-underline-from-left"><i class="picture1"></i>照片墙</a></li>
                <li><a href="{% url 'x_blog:blog' %}" class="hvr-underline-from-left"><i class="edit1"></i>博客</a></li>
                <li><a href="{% url 'x_blog:short_codes' %}" class="hvr-underline-from-left"><i class="text-size1"></i>Short Codes</a></li>
                <li><a href="{% url 'x_blog:mail' %}" class="hvr-underline-from-left"><i class="envelope1"></i>联系 博主</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main2 %}
    <div class="col-xs-9 banner-body-right">
        <!-- single -->
            <div class="single">
                <h3>{{ post.title }}</h3>
                <div class="single-left">
                    <p>发布于 <span>{{ post.created_time|date:"Y年m月d日" }}</span></p>
                    <img src="/static/{{ post.img }}" alt=" " class="img-responsive" />
                </div>
                <div class="single-right">
                    <h4>{{ post.subtitle_title }}</h4>
                    <p><span>{{ post.content_1 }}</span></p>
                </div>

                <div class="clearfix"> </div>
                <p class="tortor">{{ post.content_2 | safe }}</p>

                <div class="tags-cate">
                    <div class="cat-grid">
                        <h4><span>分</span>类</h4>
                        {% classification as categories %}
                        <ul>
                            {% for cate in categories %}
                            <li>
                                <a href="{% url 'x_blog:categories' cate.id %}">{{ cate.name }}</a>
                            </li>
                            {% empty %}
                                暂无分类
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="cat-grid">
                        <h4><span>归</span>档</h4>
                        {% archives as dates %}
                        <ul>
                            {% for date in dates %}
                            <li>
                                <a href="{% url 'x_blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月 </a>
                            </li>
                            {% empty %}
                                暂无归档
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="cat-grid">
                        <h4><span>文章</span>标签</h4>
                        {% get_tags as tag_list %}
                        <ul>
                            {% for tag in tag_list %}
                            <li>
                                <a href="{% url 'x_blog:tags' tag.pk %}">{{ tag.name }}</a>
                            </li>
                            {% empty %}
                                暂无标签
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="leave-comment">
                    <h4>请发表您的看法</h4>
                    <p>邮箱以及您的个人网站信息不会公布，请放心填写。</p>
                    <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
                        {% csrf_token %}
{#                        <input type="file" name="head_img">#}
                        <input type="text" for="{{ form.name.id_for_label }}" placeholder="名字" {{ form.name }} {{ form.name.errors }}
                        <input type="text" for="{{ form.email.id_for_label }}" placeholder="邮箱" {{ form.email }} {{ form.email.errors }}
                        <table class="table"></table>
                        <input type="text" for="{{ form.url.id_for_label }}" placeholder="网址" {{ form.url }} {{ form.url.errors }}
                        <textarea for="{{ form.text.id_for_label }}" placeholder="留言" {{ form.text }} {{ form.text.errors }}</textarea>
                        <input type="submit" value="提交">
                        <div class="clearfix"> </div>
                    </form>
                </div>

                <div class="three-com">
                    <h3>{{ post.comment_set.count }} 条评论 <label>在不久前发表</label></h3>
                    <div class="tom-grid">
                        {% for comment in comment_list %}
                        <div class="tom">
                            <script language="JavaScript">
{#                                暂定随机使用三个头像#}
                                id=Math.round(Math.random()*2+1)
                                document.write("<img src={% static 'head_img/' %}"+id+".jpg>")
                            </script>
                        </div>
                        <div class="tom-right">
                            <div class="Hardy">
                                <h4><a href="#">{{ comment.name }}</a></h4>
                                <p><label>{{ comment.created_time }}</label></p>
                            </div>
                            <div class="reply">
                                <a href="#">回复</a>
                            </div>
                            <div class="clearfix"> </div>
                            <p class="lorem">{{ comment.text }}</p>
                        </div>
                        <div class="clearfix"> </div>
                        <table class="table"></table>
                        <table class="table"></table>
                        {% endfor %}
                    </div>

                </div>


            </div>

        <!-- //single -->
    </div>
{% endblock %}