{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- 收集导航链接，表单和其他内容以进行切换 -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav class="stroke">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'x_blog:index' %}"><i class="home"></i>首页</a></li>
                <li><a href="{% url 'x_blog:photos' %}" class="hvr-underline-from-left"><i class="picture1"></i>照片墙</a></li>
                <li><a href="{% url 'x_blog:blog' %}" class="hvr-underline-from-left"><i class="edit1"></i>博客</a></li>
                <li><a href="{% url 'x_blog:short_codes' %}" class="hvr-underline-from-left"><i class="text-size1"></i>Short Codes</a></li>
                <li><a href="{% url 'x_blog:mail' %}" class="hvr-underline-from-left"><i class="envelope1"></i>联系 博主</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main2 %}
<div class="col-xs-9 banner-body-right">
<div class="msg-text">
    <div class="col-xs-2 msg-text-left">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </div>
    <div class="col-xs-10 msg-text-right">
        <p>But I must explain to you how all this mistaken idea of
            denouncing pleasure and praising pain was born and I will give
            you a complete account of the system.</p>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="msg-text-bottom">
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="#"><img src="{% static 'x_blog/images/4.jpg' %}" alt=" " class="img-responsive" />
            <figcaption>

            </figcaption>
            </a>
        </figure>

        <h3><a href="#">vel illum qui dolorem</a></h3>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia.</p>
    </div>
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="#"><img src="{% static 'x_blog/images/5.jpg' %}" alt=" " class="img-responsive" />
            <figcaption>

            </figcaption>
            </a>
        </figure>
        <h3><a href="#">quia dolor sit amet</a></h3>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia.</p>
    </div>
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="#"><img src="{% static 'x_blog/images/5.jpg' %}" alt=" " class="img-responsive" />
            <figcaption>

            </figcaption>
            </a>
        </figure>
        <h3><a href="#">porro quisquam est</a></h3>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia.</p>
    </div>
    <div class="clearfix"> </div>
                </div>
            			</div>
{% endblock %}